# Dependencies
node_modules/

# Next.js build
.next/

# Local env files
.env*
.env.production
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Netlify cache
.netlify/